.task-context {
  display: inline-block;
  font-weight: 500;
  font-size: 1.3em;
  /* color: #3a773a; */
}

.check-btn {
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  background-color: #5fb957 !important;
  border: none !important;
  padding: 10px 12px !important;
}

.check-btn:hover {
  background-color: #269963 !important;
}

.cross-btn {
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  background-color: #d63f37 !important;
  border: none !important;
  padding: 10px 12px !important;
}

.cross-btn:hover {
  background-color: #ac1f2d !important;
}
