.add-task button {
  color: #fff;
  background-color: #2f79b9;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.add-task button:hover {
  background-color: #4a96da;
  color: #fff;
}

.add-task input {
  box-shadow: #86b7fe;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
